Partie 2/account.xsd.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://banckApi/soap"
           xmlns:tns="http://banckApi/soap"
           elementFormDefault="qualified">

    <xs:element name="getBalanceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getBalanceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="balance" type="xs:double"/>
                <xs:element name="currency" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Add similar elements for getTransactionsRequest/Response and transferFundsRequest/Response -->
</xs:schema>
